<div class="container-fluid text-center">
	<h1>GROCERIES</h1>
<div class="row " >
	<div class="col-lg-6">
		<section>
	<h1>ITEM NAME</h1>

	<p>{{ tagline }}</p>
	<span ><img src="images/pic.jpg" style="width : 250px;">all in one</span>
</section>
<section>
<h1>ITEM NAME</h1>

<p>{{ tagline }}</p>
<span ><img src="images/pic.jpg" style="width : 250px;">all in one</span>
</section>
<section>
<h1>ITEM NAME</h1>

<p>{{ tagline }}</p>
<span ><img src="images/pic.jpg" style="width : 250px;">all in one</span>
</section>
</div>
<div class="col-lg-6">
	<section>
<h1>ITEM NAME</h1>

<p>{{ tagline }}</p>
<span ><img src="images/pic.jpg" style="width : 250px;">all in one</span>
</section>
<section>
<h1>ITEM NAME</h1>

<p>{{ tagline }}</p>
<span ><img src="images/pic.jpg" style="width : 250px;">all in one</span>
</section>
	<section>
<h1>ITEM NAME</h1>

<p>{{ tagline }}</p>
<span ><img src="images/pic.jpg" style="width : 250px;">all in one</span>
</section>
</div>
</div>
</div>
