
<div class="row ">
<!--Left bar content -->
	<div class="col-lg-3">
		<div class = "panel panel-default">
	   <div class = "panel-heading" >
	      <h3 class = "panel-title" >
	         ODOCTOR'S DAILYPEDIA
	      </h3>
	   </div>

	   <div class = "panel-body">
			 <div class="col-md-12">
 <h4>“To keep the body in good health is a duty, for otherwise we shall not be able to trim the lamp of wisdom, and keep our mind strong and clear. Water surrounds the lotus flower, but does not wet its petals.”  ~Buddha<h4>
</div>
	   </div>
	</div>

	<div class = "panel panel-default">
	 <div class = "panel-heading" >
			<h3 class = "panel-title" >
				 OUR PRODUCTS
			</h3>
	 </div>

	 <div class = "panel-body">
		 <div class="col-md-12">
<ul class="nav nav-pills nav-stacked" style="background-color : white">
 <li><a href="#">Vegetables</a></li>
 <li><a href="#">Fruits</a></li>
 <li><a href="#">Spices</a></li>
 <li><a href="#">Staples</a></li>
 <li><a href="#">Child care</a></li>
 <li><a href="#">Body Care</a></li>
 <li><a href="#">Cereals</a></li>
</ul>
</div>
	 </div>
</div>

<div class = "panel panel-default">
 <div class = "panel-heading" >
		<h3 class = "panel-title" >
			 PAY VIA MPESA
		</h3>
 </div>

 <div class = "panel-body">
	<a><img src="images/mpesa2.jpg" width="240px"></a>
 </div>
</div>

	</div>
<!-- Main content -->
<div class="col-lg-6">
	<!-- Slide section -->
<div class="container-fluid" style="border :1px solid #ccc;">

	<script type="text/javascript" src="js/jquery/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="js/jquery/jssor.slider-21.1.5.mini.js"></script>
	<!-- use jssor.slider-21.1.5.debug.js instead for debug -->
	<script>
			jQuery(document).ready(function ($) {

					var jssor_1_options = {
						$AutoPlay: true,
						$DragOrientation: 2,
						$PlayOrientation: 2,
						$ArrowNavigatorOptions: {
							$Class: $JssorArrowNavigator$
						}
					};

					var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

					//responsive code begin
					//you can remove responsive code if you don't want the slider scales while window resizing
					function ScaleSlider() {
							var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
							if (refSize) {
									refSize = Math.min(refSize, 600);
									jssor_1_slider.$ScaleWidth(refSize);
							}
							else {
									window.setTimeout(ScaleSlider, 30);
							}
					}
					ScaleSlider();
					$(window).bind("load", ScaleSlider);
					$(window).bind("resize", ScaleSlider);
					$(window).bind("orientationchange", ScaleSlider);
					//responsive code end
			});
	</script>

	<style>

			/* jssor slider arrow navigator skin 08 css */
			/*
			.jssora08l                  (normal)
			.jssora08r                  (normal)
			.jssora08l:hover            (normal mouseover)
			.jssora08r:hover            (normal mouseover)
			.jssora08l.jssora08ldn      (mousedown)
			.jssora08r.jssora08rdn      (mousedown)
			*/
			.jssora08l, .jssora08r {
					display: block;
					position: absolute;
					/* size of arrow element */
					width: 50px;
					height: 50px;
					cursor: pointer;
					background: url('img/a08.png') no-repeat;
					overflow: hidden;
					opacity: .4;
					filter: alpha(opacity=40);
			}
			.jssora08l { background-position: -5px -35px; }
			.jssora08r { background-position: -65px -35px; }
			.jssora08l:hover { background-position: -5px -35px; opacity: .8; filter:alpha(opacity=80); }
			.jssora08r:hover { background-position: -65px -35px; opacity: .8; filter:alpha(opacity=80); }
			.jssora08l.jssora08ldn { background-position: -5px -35px; opacity: .3; filter:alpha(opacity=30); }
			.jssora08r.jssora08rdn { background-position: -65px -35px; opacity: .3; filter:alpha(opacity=30); }
	</style>


	<div id="jssor_1" style="">
			<!-- Loading Screen -->
			<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
					<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
					<div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
			</div>
			<div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 600px; height: 300px; overflow: hidden;">
					<div data-p="112.50" style="display: none;">
							<img data-u="image" src="images/pic1.jpg" />
					</div>
					<div data-p="112.50" style="display: none;">
							<img data-u="image" src="images/delv.jpg" />
					</div>
					<div data-p="112.50" style="display: none;">
							<img data-u="image" src="images/offer1.jpg" />
					</div>
					<div data-p="112.50" style="display: none;">
							<img data-u="image" src="images/offer2.jpg" />
					</div>
					<a data-u="add" href="http://www.jssor.com/demos/vertical-slider.slider" style="display:none">Vertical Slider</a>

			</div>
			<!-- Arrow Navigator -->
			<span data-u="arrowleft" class="jssora08l" style="top:8px;left:8px;width:50px;height:50px;" data-autocenter="1"></span>
			<span data-u="arrowright" class="jssora08r" style="bottom:8px;right:8px;width:50px;height:50px;" data-autocenter="1"></span>
	</div>

	<!-- #endregion Jssor Slider End -->
</div>
<br>
<!-- Adverts section -->

<div class = "panel panel-default">
 <div class = "panel-heading" >
		<h3 class = "panel-title" >
			 VEGATABLES
		</h3>
 </div>

 <div class = "panel-body">
	 <div class="row ">
	 <div class="col-lg-4 ad-row">
	 <span><img src="images/vage/cabbage1.jpg" class="ad-image"></span>
	 <h3>Cabbage</h3>
	 <h5>Ksh. 40/=</h5>
	 </div>
	 <div class="col-lg-4 ad-row">
	 <span><img src="images/vage/tomato1.jpg" class="ad-image"></span>
	 <h3>Tomotoes</h3>
	 <h5>Ksh. 40/=</h5>
	 </div>
	 <div class="col-lg-4 ad-row">
	 <span><img src="images/vage/wiki1.jpg" class="ad-image"></span>
	 <h3>Sukuma Wiki</h3>
	 <h5>Ksh. 40/=</h5>
	 </div>
	 </div>
 </div>
</div>

<div class = "panel panel-default">
 <div class = "panel-heading" >
		<h3 class = "panel-title" >
			 FRUITS
		</h3>
 </div>

 <div class = "panel-body">
	 <div class="row ">
	 <div class="col-lg-4 ad-row">
	 <span><img src="images/vage/fruit1.jpg" class="ad-image"></span>
	 <h3>Cabbage</h3>
	 <h5>Ksh. 40/=</h5>
	 </div>
	 <div class="col-lg-4 ad-row">
	 <span><img src="images/vage/fruit2.jpg" class="ad-image"></span>
	 <h3>Tomotoes</h3>
	 <h5>Ksh. 40/=</h5>
	 </div>
	 <div class="col-lg-4 ad-row">
	 <span><img src="images/vage/fruit3.jpg" class="ad-image"></span>
	 <h3>Sukuma Wiki</h3>
	 <h5>Ksh. 40/=</h5>
	 </div>
	 </div>
 </div>
</div>

<div class = "panel panel-default">
 <div class = "panel-heading" >
		<h3 class = "panel-title" >
			 SPICES
		</h3>
 </div>

 <div class = "panel-body">
	 <div class="row ">
	 <div class="col-lg-4 ad-row">
	 <span><img src="images/spices/spice1.jpg" class="ad-image"></span>
	 <h3>spices</h3>
	 <h5>Ksh. 40/=</h5>
	 </div>
	 <div class="col-lg-4 ad-row">
	 <span><img src="images/spices/spice2.jpg" class="ad-image"></span>
	 <h3>Tomotoes</h3>
	 <h5>Ksh. 40/=</h5>
	 </div>
	 <div class="col-lg-4 ad-row">
	 <span><img src="images/spices/spice3.jpg" class="ad-image"></span>
	 <h3>Sukuma Wiki</h3>
	 <h5>Ksh. 40/=</h5>
	 </div>
	 </div>
 </div>
</div>




</div>

<!-- Right bar content -->
<div class="col-lg-3">
	<div class = "panel panel-default text-center">
	 <div class = "panel-heading" >
			<h3 class = "panel-title" >
				 PICK OF THE DAY
			</h3>
	 </div>

	 <div class = "panel-body">
		 <div class="row">
		 <div class="col-md-12">
			 <div class="row ro">
			 <div class="col-md-6">

	   <a> <img src="images/offer1.jpg" class="product-image" ></a>
	 </div>
	 <div class="col-md-6">
		 <h4> Max package.</h4>
		 <h5> ksh. 450 /= </h5>
		 <button type="button" class="btn btn-primary btn-xs">Pick</button>
	 </div>
</div>

<div class="row ro">
		 <div class="col-md-6">
<br>
	 <a> <img src="images/body/baby2.jpg" class="product-image" ></a>
	 <br>
 </div>
 <div class="col-md-6">
	 <h4> Diapers</h4>
	 <h5> ksh. 200 /= </h5>
	 <button type="button" class="btn btn-primary btn-xs">Pick</button>
 </div>
	 </div>
	 <div class="row">
	 <div class="col-md-6">
<br>
	 <a> <img src="images/food/piz1.jpg" class="product-image " ></a>
	 </div>
	 <div class="col-lg-6">
	 <h4> Pizza.</h4>
	 <h5> ksh. 700 /= </h5>
	 <button type="button" class="btn btn-primary btn-xs">Pick</button>
	 </div>
	 </div>

	</div>
	 </div>
 </div>
	</div>

	<div class = "panel panel-default text-center">
	 <div class = "panel-heading" >
			<h3 class = "panel-title" >
				 QUICK ORDER BY:
			</h3>
	 </div>

	 <div class = "panel-body">
<h3>Call or Text:</h3>
<ul>
<li>0704040400</li>
<li>0775343440</li>
</ul>
<h3>Email: </h3>
<ul>
<li>info@hodi.com</li>
</ul>
<a><img src="images/mpesa2.jpg" width="230px" height="300px"></a>

	 </div>

</div>


</div>
