body {
  padding-top:30px;
  overflow-x: hidden;
 }
.backg{
  background-image: url(images/pic.jpg);
  background-size: cover;
  color: blue;
}
.cont {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.nav {
  background-color: silver;
}
.left-bar {
  border-style : groove;

}
.item {

}
.product {
  overflow: hidden;
  min-width: 80px;
  margin-left: 0 !important;
}
.product-image {
  height: 90px;
  width: 90px;
}
.ad-image {
  height: 100px;
  width: 140px;
}
.ro {
    border-bottom: 1px solid #ccc;
}
.ad-row {
  border: 1px solid #ccc;
}
.panel-heading {
  background-color: silver;

}
.panel-title {
  color : blue;
}

.col-md-6:not(:last-child) {
    border-right: 1px solid #ccc;
}
